body {
    font-family: Arial, sans-serif;
    background-image: url('ba.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .family-info {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .family-photo {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #selected-photo-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #selected-photo {
    width: 300px;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #333;
    margin-top: 30px;
  }
  
  #family-members {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  #family-members option {
    color: #333;
  }